@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kavoon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{  
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(4, 7, 18, 1);
    /* border: 1px solid red; */
    

}


nav .Logo a {
    margin-left: 65px;
    color:rgba(49, 148, 255, 1);
    font-family: "Kavoon", serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.8s;
    
}


nav .Logo a:hover{
    text-shadow: 0 0 20px rgb(47, 130, 255);
}
.nav-pofile{
    margin-right: 100px;
}
.nav-pofile ul{
    display: flex;
    list-style: none;
    align-items: center;
}

ul li{
    position: relative;
    padding-right: 4rem;
    
}
ul li a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
    transition: 0.3s;
    z-index: 1;
}

ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: .5s;
    box-shadow: 0 0 20px #ffffff; ;
}

ul li a:hover:after{
    width: 50%;
}

ul li a:hover{
    color: #ffffff;
    text-shadow: 0 0 20px #ffffff;
}
ul .cart {
    position: absolute;
    color: white;
    text-decoration: none;
    width: 37px;
    height: 37px;
    /* border: 1px solid red; */
    right: 30px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    background-color: rgba(15, 15, 16, 1);
    color: white;
    font-size: 1.2vw;
}

.Main-Content{
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 510px;
    height: 350px;
    font-size: 1.2vw;
    
}

.Content-title{
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
    /* border: 1px solid red; */
    
}

.Content-title h1{
    font-family: "Kavoon", serif;
    font-size: 70px;
    font-weight: 430;
    color: rgba(49, 148, 255, 1);;
    padding-top: 40px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    /* border-right: 2px solid white; */
    animation: 
            typing 4s,
            cursor .5s step-end infinite alternate;
}

@keyframes cursor{
    50% {border-color: transparent;}
}

@keyframes typing{
    from {width: 0;}
}

.Content-title h1:hover{
    text-shadow: 0 0 20px rgb(65, 131, 255);
    transition: 1s;
}
.Content p{
    font-size: 25px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content .e{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Content .a{
    font-size:20px;
}

.Container{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    width: 100%;
    height: 689px;
    background-color: rgba(9, 11, 21, 1);
    /* border: 1px solid red; */
    font-size: 1.2vw;
}

.Content-title12{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
.Content-title12 h1{
    color: rgba(255, 186, 81, 1);
    font-size: 50px;
    font-weight: 300;
    font-family: "Kavoon", serif;
    transition: 1s;
}

.Content-title12 h1:hover{
    transition: 1s;
    text-shadow: 0 0 20px rgb(255, 209, 125);
}
.Product-list{
    /* border: 1px solid red; */
}
.Product-title{
    margin-top: 14rem;
    align-items: center;
    justify-content: center;
}
.Product-title h1{
    font-size: 50px;
}

.sidebar{
    /* border: 1px solid red; */
    margin-left: 5rem;
    width:14%;
    height: 17rem;
    padding-left: 2.5rem;
    /* background: greenyellow; */
    display: flex;
    flex-direction: column;
    
}

.sidebar-items{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
    padding: 11px 3px;
    width: 170px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(238, 244, 250);
    text-decoration: none;
    color: #000000;
    font-weight: 200;
    font-size: 1.2vw;
    transition: 0.4s;
    
}

.sidebar-items:hover{
    /* background-color: #328bf7; */
    /* box-shadow: 0 0 40px rgb(107, 193, 255); */
    transition: 0.4s;
    color: #000000;
    transform: scale(1.10);
}

.product{
    width: 70%;
    margin-left: 4rem;
    padding: 10px;
    /* background-color: aqua; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px
    
}

.product-items{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: black;
    font-weight: 200;
}

.product-items:hover{
    transform: scale(1.03);
    /* box-shadow: 0 0 20px rgb(234, 248, 116); */
}

.product-img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 7px;
}

.Search-bar{
   
    position: absolute;
    /* border: 1px solid; */
    height: 70%;
    left: 37%;
    top: 0;
    padding: 50px;
    margin-top: 30px;
    font-size: 1.2vw;
}

.bar{
    border-radius: 10px;
    padding-left: 30px;
}

.modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-page{
    background: #d3dde4;
    border-radius: 15px;
    padding: 20px;
    min-width: 30vw;
    max-width: 50vw;
    max-height: 30vw;
    /* overflow: scroll; */
    object-fit: cover;
}

.modaldes-content{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
}

.modaldesc-detail{
    /* background-color: green; */
    margin-left: 20px;
}

.modaldesc-img{
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
}

.btn-control{
    /* background: pink; */
    display: flex;
    justify-content: flex-end;
    margin-top: 6rem;
}

.btn{
    margin-left: 10px;

    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: 0.3s;
}

.btn-buy{
    color: #ffffff;
    background: linear-gradient(125deg, #2074f3, #0f1597);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    cursor: pointer;
}